@import 'icon/*.png';
@import "bootstrap";
@import 'jscrollpane';
@import 'users.css.scss';

#main_content {
  margin-top: 60px;
}

#create_review {
  text-align: center;
}

textarea {
  height: 200px;
}

#user-block {
  color: #fff;
  .twitter {
    width: 20px;
    height: 16px;
    display: inline-block;
    margin-top: 10px;
    -webkit-transition:1s ease-in-out all;
    -moz-transition:1s ease-in-out all;
    -o-transition:1s ease-in-out all;
    transition:1s ease-in-out all;
    @include icon-sprite(tw_blue);
    &:hover {
      @include icon-sprite(tw_red);
    }
  }
}

.make-jscrollpane {
  .jspDrag {
    background-color: #0088CC;
  }

  .jspTrack {
    background-color: #fff;
  }
}

footer {
  margin-top: 15px;
  padding-top: 15px;
  margin-bottom: 5px;
  border-top: 1px solid #ccc;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}
