#user-info {
  text-align: center;
  img {
    max-width: 80px;
    max-height: 80px;
  }
}

#user-details {
  img {
    max-width: 80px;
    max-height: 80px;
  }
}

#latest-reviews {
  height: 250px;
  overflow-y: auto;
  width: 95%;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}

#users-list {
  img {
    max-height: 50px;
    max-width: 50px;
  }
}

#last_votes {
  #votes_list {
    width: auto;
    height: 200px;
    max-height: 200px;
    overflow: auto;
    .vote {
      width: 99%;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px dashed #000;
      &:last-of-type {
        margin-top: 0;
        padding-top: 0;
        border-bottom: 0 none;
      }
    }
  }
}